<template>
  <div class="card-align">
    <q-card
      floated
      bordered
      class="my-card"
    >
      <div class="q-pa-md">
        <q-table
          grid
          title="Pesquisar Representante"
          class="text-primary"
          card-class="bg-negative text-white"
          :data="holderList"
          :columns="columns"
          :pagination.sync="pagination"
          rows-per-page-label="Representantes por Página"
          no-data-label="Nenhum Representante cadastrado"
          no-results-label="Nenhum Representante encontrado"
          row-key="id"
          :filter="filter"
          hide-header
          @row-click="onClick"
        >
          <template v-slot:top-right>
            <q-input
              clearable
              borderless
              dense
              debounce="200"
              v-model="filter"
              placeholder="Pesquisar"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
        </q-table>
      </div>
    </q-card>
  </div>
</template>

<script>
import { Api } from 'src/services/AccountApi'
import { Notify } from 'quasar'

Notify.create('Bem vindo à ActualBC')

export default {
  data () {
    return {
      pagination: {
        sortBy: 'name',
        descending: false,
        rowsPerPage: 16
      },
      filter: '',
      columns: [
        { name: 'id', required: true, label: 'Identificador de registro', field: 'id', sortable: true },
        {
          name: 'name',
          required: true,
          label: 'Nome da empresa',
          align: 'left',
          field: row => row.company.fullName,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'CNPJ', align: 'center', label: 'CNPJ', field: row => row.company.taxDocument, sortable: true },
        { name: 'nameRepresentante', label: 'Representante', field: 'fullName', sortable: true }
      ],
      holderList: []
    }
  },
  async mounted () {
    this.getHolders()
  },
  methods: {
    onClick (evt, row) {
      this.$router.push({ name: 'details', params: { id: row.id, fullName: row.fullName, taxDocument: row.taxDocument } })
    },
    async getHolders () {
      const api = new Api()
      const result = await api.holders.getAll()

      if (result.status === 200) {
        this.holderList = result.data.sellers
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 1200px

.card-align
  text-align: -webkit-center
  padding: 50px
</style>
