<template>
  <div id="addressDetail">
    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col">
        <q-field
          borderless
          label="Endereço"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            >
              {{ address.line1 }}
            </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-2">
        <q-field
          borderless
          label="Número"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            >
              {{ address.streetNumber }}
            </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col-3">
        <q-field
          borderless
          label="Bairro"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            >
              {{ address.district }}
            </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Complemento"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            >
              {{ address.line2 }}
            </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div>
      <q-field
        borderless
        label="Site"
        stack-label
      >
        <template v-slot:control>
          <div
            class="self-center full-width no-outline"
            tabindex="0"
          > {{ holder.contact.site }} </div>
        </template>
      </q-field>
    </div>

    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
import { Api } from 'src/services/AccountApi'

export default {
  name: 'addressDetail',
  async mounted () {
    await this.getHolder()
  },
  data () {
    return {
      holder: {
        contact: {}
      },
      address: {}
    }
  },

  methods: {
    async getHolder () {
      const api = new Api()
      const holderParams = {
        fullName: this.$route.params.fullName,
        taxDocument: this.$route.params.taxDocument
      }
      const result = await api.holders.get(holderParams)

      if (result.status === 200) {
        this.holder = result.data.sellers[0]
        this.address = result.data.sellers.address[0]
      }
    }
  }
}
</script>

<style>
</style>
