<template>
  <div id="bankAccountDetail">
    <q-separator
      inset
      color="transparent"
    />

    <div class="row q-field--with-bottom">
      <div class="col-1">
        <q-btn
          size="sm"
          round
          color="deep-orange"
          icon="edit"
          @click="edit = true"
        />
      </div>
      <!-- <div class="col">
        <q-field
          borderless
          label="Taxa Boleto"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{bankSlipFee.amount}} </div>
          </template>
        </q-field>
      </div> -->

      <!-- <q-separator
        spaced
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Tipo de Conta"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ bankAccount.isJuristic ? 'Jurídica' : 'Física' }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Banco"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ bankAccount.bankNumber }} </div>
          </template>
        </q-field>
      </div> -->
    </div>

    <!-- <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col-3">
        <q-field
          borderless
          label="Conta"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ bankAccount.accountNumber }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-3">
        <q-field
          borderless
          label="Agência"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ bankAccount.bankBranchNumber }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-3">
        <q-field
          borderless
          label="Variação"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ bankAccount.variation }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-2">
        <q-field
          borderless
          label="Tipo"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ bankAccount.type }} </div>
          </template>
        </q-field>
      </div>
    </div> -->

    <q-separator
      inset
      color="transparent"
    />

    <q-dialog
      v-model="edit"
      persistent
    >
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Taxa Boleto</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            dense
            v-model="bankSlipFee.amount"
            autofocus
            @keyup.enter="edit = false"
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            flat
            @click="feeUpdated = bankSlipFee.amount "
            label="Cancel"
            v-close-popup
          />
          <q-btn
            flat
            @click.prevent="updateFee"
            label="Atualizar"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { PaymentApi } from 'src/services/PaymentApi'
import { Notify } from 'quasar'

Notify.create('')

export default {
  name: 'bankAccountDetail',
  data () {
    return {
      bankSlipFee: {
        amount: ''
      },
      feeUpdated: '',
      edit: false
    }
  },
  methods: {
    async updateFee (evt) {
      const fee = new PaymentApi()
      this.bankSlipFee.holderId = this.$route.params.id

      var fees = []
      fees.push(this.bankSlipFee)

      fee.bankSlipFee.update(fees)
        .then(result => {
          this.triggerPositiveFee()
        }).catch((callback) => {
          if (callback.nonext) {
            this.triggerNegativeFee(callback.error)
            return
          }

          fee.bankSlipFee.create(fees).then(() => {
            this.triggerPositiveFee()
          }).catch((callback) => {
            if (callback.error) {
              this.triggerNegativeFee(callback.error)
              return
            }
            this.triggerNegativeFee()
          })
        }).finally(() => {
        })
    },
    triggerPositiveFee () {
      this.$q.notify({
        type: 'positive',
        message: 'Taxa Atualizada com Sucesso',
        position: 'center'
      })
    },
    triggerNegativeFee (msg = 'Houve falha ao atualizar, Verifique se a taxa está cadastrada ou é menor que a taxa base') {
      this.$q.notify({
        type: 'negative',
        message: msg,
        position: 'center'
      })
    }
  }

}
</script>

<style>
</style>
