<template>
  <div id="companyDetail">
    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col">
        <q-field
          borderless
          label="Nome Comercial"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.company.tradeName }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Razão social"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.company.fullName }} </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col">
        <q-field
          borderless
          label="CNPJ"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.company.taxDocument }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Tipo de Empresa"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.company.businessType.name }} </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <!-- <div class="col">
        <q-field
          borderless
          label="Ramo de Atividade"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ businessActivityId }} </div>
          </template>
        </q-field>
      </div> -->

      <!-- <q-separator
        inset
        color="transparent"
      />

      <div class="col-3">
        <q-field
          borderless
          label="CEP"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            >
              {{ address.zipCode }}
            </div>
          </template>
        </q-field>
      </div> -->
    </div>

    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
export default {
  name: 'companyDetail',
  props: ['holder']
}
</script>

<style>
</style>
