<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <div class="card-align">
          <q-card
            floated
            bordered
            class="my-card"
          >
            <q-card-section>
              <div class="row">
                <div class="col text-primary ">Detalhes do Representante</div>
                <div class="col-1">
                  <q-btn
                    round
                    color="primary"
                    icon="keyboard_arrow_left"
                    @click="onClick"
                  />
                </div>
              </div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-separator />
              <q-card-section class="column items-start">
                <strong class="sub-title text-primary"> Dados do representante </strong>
              </q-card-section>

              <q-separator color="transparent" />
              <PersonDetail :holder="holder" />
              <PersonContactDetail :holder="holder" />

              <q-separator />
              <q-card-section class="column items-start">
                <strong class="sub-title text-primary"> Dados da Empresa </strong>
              </q-card-section>

              <q-separator color="transparent" />
              <CompanyDetail :holder="holder" />
              <!-- <q-separator color="transparent" />
              <AddressDetail />

              <q-separator />
              <q-card-section class="column items-start">
                <strong class="sub-title text-primary"> Plano de recebimento de cartão </strong>
              </q-card-section>

              <q-separator color="transparent" />
              <TransferPlanDetail /> -->

              <q-separator />
              <q-card-section class="column items-start">
                <strong class="sub-title text-primary"> Alterar Taxa </strong>
              </q-card-section>

              <q-separator color="transparent" />
              <BankAccountDetail />
            </q-card-section>
          </q-card>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { Api } from 'src/services/AccountApi'
import PersonDetail from 'pages/details/PersonDetail'
import PersonContactDetail from 'pages/details/PersonContactDetail'
import CompanyDetail from 'pages/details/CompanyDetail'
// import AddressDetail from 'pages/details/AddressDetail'
// import TransferPlanDetail from 'pages/details/TransferPlanDetail'
import BankAccountDetail from 'pages/details/BankAccountDetail'

export default {
  components: {
    PersonDetail,
    PersonContactDetail,
    CompanyDetail,
    // AddressDetail,
    // TransferPlanDetail,
    BankAccountDetail
  },
  data () {
    return {
      holder: {
        fullName: '',
        birthDate: '',
        email: '',
        gender: '',
        mobile: '',
        phone: '',
        taxDocument: '',
        contact: {
          address: '',
          email: '',
          mobile: '',
          phone: '',
          phoneExtension: ''
        },
        company: {
          fullName: '',
          taxDocument: '',
          tradeName: '',
          businessType: {
            name: ''
          }
        }
      }
    }
  },
  async mounted () {
    await this.getHolder()
  },

  methods: {
    onClick (env, row) {
      this.$router.push({ name: 'search' })
    },
    async getHolder () {
      const api = new Api()
      const holderParams = {
        fullName: this.$route.params.fullName,
        taxDocument: this.$route.params.taxDocument
      }
      const result = await api.holders.get(holderParams)

      if (result.status === 200) {
        this.holder = result.data.sellers[0]
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 900px

.card-align
  text-align: -webkit-center
  padding: 50px
</style>
