<template>
  <div id="personDetail">
    <q-separator
      inset
      color="transparent"
    />
    <div class="row">
      <div class="col">
        <q-field
          borderless
          label="Nome"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.fullName }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-3">
        <q-field
          borderless
          label="Data de Nascimento"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.birthDate }} </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col">
        <q-field
          borderless
          label="Sexo"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.gender }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Email"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.email }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="CPF"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.taxDocument }} </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
export default {
  name: 'personDetail',
  props: ['holder']
}
</script>

<style>
</style>
