<template>
  <div id="personContactDetail">
    <q-separator
      inset
      color="transparent"
    />

    <div class="col">
      <q-field
        borderless
        label="Endereço"
        stack-label
      >
        <template v-slot:control>
          <div
            class="self-center full-width no-outline"
            tabindex="0"
          > {{ holder.contact.address }} </div>
        </template>
      </q-field>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col">
        <q-field
          borderless
          label="Celular"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.contact.mobile }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Telefone"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.contact.phone }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-2">
        <q-field
          borderless
          label="Ramal"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ holder.contact.phoneExtension }} </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
export default {
  name: 'personContactDetail',
  props: ['holder']
}
</script>

<style>
</style>
