<template>
  <div id="transferPlanDetail">
    <q-separator
      inset
      color="transparent"
    />

    <div class="row justify-between">
      <div class="col">
        <q-field
          borderless
          label="Dias para repasse"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ transferPlan.days }} </div>
          </template>
        </q-field>
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-field
          borderless
          label="Repasse antecipado"
          stack-label
        >
          <template v-slot:control>
            <div
              class="self-center full-width no-outline"
              tabindex="0"
            > {{ transferPlan.anticipated ? 'Ativo' : 'Inativo' }} </div>
          </template>
        </q-field>
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>

export default {
  name: 'transferPlanDetail',
  data () {
    return {
      transferPlan: {
        days: '',
        anticipated: false,
        daysOnlineSplit: ''
      }
    }
  }
}
</script>

<style>
</style>
