<template>
  <q-layout
    view="hHh Lpr lff"
    class="shadow-2"
  >

    <q-header
      elevated
      class="bg-negative text-white"
    >
      <q-toolbar>
        <q-btn
          dense
          flat
          round
          icon="menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          <q-avatar>
            <img src="~assets/logo.svg" style="background:white">
          </q-avatar>
          ActualBC - Gestão
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      side="left"
      overlay
      elevated
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
      :width="200"
      :breakpoint="500"
      bordered
      content-class="bg-grey-3"
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <q-item
            to="register"
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon
                name="note_add"
                color='orange'
              />
            </q-item-section>

            <q-item-section>
              Cadastrar
            </q-item-section>
          </q-item>

          <q-item
            to="search"
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon
                name="search"
                color='purple'
              />
            </q-item-section>

            <q-item-section class="text-primary">
              Pesquisar
            </q-item-section>
          </q-item>

          <q-item
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon
                name="business"
                color='blue'
              />
            </q-item-section>

            <q-item-section class="text-primary">
              <a href="https://atualbc.pagcerto.com.br/acessar" class="text-primary" target="_blank" style="text-decoration:none"> Painel financeiro</a>
            </q-item-section>
          </q-item>

          <q-separator />

          <!-- <q-item
            to="/help"
            exact
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon
                name="help"
                color='negative'
              />
            </q-item-section>

            <q-item-section>
              Help
            </q-item-section>
          </q-item> -->
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      leftDrawerOpen: false,
      miniState: true
    }
  }
}
</script>
