<template>
  <div id="addressData">
    <q-separator
      inset
      color="transparent"
    />
    <div class="row">
      <div class="col">
        <q-input
          name="line1"
          v-model="data.address.line1"
          color="primary"
          label="Endereço (rua, avenida, travessa, etc.)"
          filled
          clearable
          @blur="$v.data.address.line1.$touch"
          @keyup.enter="submit"
          :error="$v.data.address.line1.$error"
          :error-message="requiredField($v.data.address.line1)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-2">
        <q-input
          name="streetNumber"
          v-model="data.address.streetNumber"
          color="primary"
          label="Número"
          filled
          clearable
          @blur="$v.data.address.streetNumber.$touch"
          @keyup.enter="submit"
          :error="$v.data.address.streetNumber.$error"
          :error-message="requiredField($v.data.address.streetNumber)"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <q-input
          name="district"
          v-model="data.address.district"
          color="primary"
          label="Bairro"
          filled
          clearable
          @blur="$v.data.address.district.$touch"
          @keyup.enter="submit"
          :error="$v.data.address.district.$error"
          :error-message="requiredField($v.data.address.district)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-input
          name="line2"
          v-model="data.address.line2"
          color="primary"
          label="Complemento"
          filled
          clearable
        />
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="col">
      <q-input
        name="site"
        v-model="data.holder.contact.site"
        color="primary"
        label="Site"
        filled
        clearable
      />
    </div>
    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'addressData',
  validations: {
    data: {
      address: {
        district: { required },
        line1: { required },
        streetNumber: { required }
      }
    }
  },

  methods: {
    requiredField (input) {
      if (!input.required) return 'Campo requerido'
    }
  },
  props: ['data']
}
</script>

<style>
</style>
