<template>
  <div id="bankAccountData">
    <q-separator
      inset
      color="transparent"
    />
    <div class="row q-field--with-bottom">
      <div class="col-2">
        <q-input
          name="amount"
          v-model="bankSlipFee.amount"
          color="primary"
          label="Taxa Boleto*"
          filled
          clearable
          @blur="$v.bankSlipFee.amount.$touch"
          @keyup.enter="submit"
          :error="$v.bankSlipFee.amount.$error"
          :error-message="onlyNumbersAndRequired($v.bankSlipFee.amount)"
        />
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-3">
        <q-select
          filled
          transition-show="flip-up"
          transition-hide="flip-down"
          clearable
          v-model="data.bankAccount.isJuristic"
          :options="bankOpt.contractType"
          :option-value="opt => opt.id"
          :option-label="opt => opt.desc"
          emit-value
          map-options
          label="Tipo de Conta*"
          @blur="$v.data.bankAccount.isJuristic.$touch"
          @keyup.enter="submit"
          :error="$v.data.bankAccount.isJuristic.$error"
          :error-message="requiredField($v.data.bankAccount.isJuristic)"
        />
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-6">
        <q-select
          filled
          transition-show="flip-up"
          transition-hide="flip-down"
          clearable
          v-model="data.bankAccount.bankNumber"
          :options="options.banks"
          :option-value="opt => opt.number"
          :option-label="opt => opt.name"
          emit-value
          map-options
          label="Banco*"
          @blur="$v.data.bankAccount.bankNumber.$touch"
          @keyup.enter="submit"
          :error="$v.data.bankAccount.bankNumber.$error"
          :error-message="requiredField($v.data.bankAccount.bankNumber)"
        />
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col-3">
        <q-input
          name="accountNumber"
          v-model="data.bankAccount.accountNumber"
          color="primary"
          label="Conta*"
          filled
          clearable
          v-mask="['#############-X', '############-X', '###########-X', '##########-X', '#########-X', '########-X', '#######-X', '######-X', '#####-X']"
          @blur="$v.data.bankAccount.accountNumber.$touch"
          @keyup.enter="submit"
          :error="$v.data.bankAccount.accountNumber.$error"
          :error-message="requiredField($v.data.bankAccount.accountNumber)"
        />
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-3">
        <q-input
          name="bankBranchNumber"
          v-model="data.bankAccount.bankBranchNumber"
          color="primary"
          label="Agência*"
          filled
          clearable
          v-mask="['####', '####-X']"
          @blur="$v.data.bankAccount.bankBranchNumber.$touch"
          @keyup.enter="submit"
          :error="$v.data.bankAccount.bankBranchNumber.$error"
          :error-message="requiredField($v.data.bankAccount.bankBranchNumber)"
        />
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-3">
        <q-input
          name="variation"
          v-model="data.bankAccount.variation"
          color="primary"
          label="Variação"
          filled
          clearable
          @blur="$v.data.bankAccount.variation.$touch"
          @keyup.enter="submit"
          :error="$v.data.bankAccount.variation.$error"
          :error-message="onlyNumber($v.data.bankAccount.variation)"
        />
      </div>

      <q-separator
        spaced
        color="transparent"
      />

      <div class="col-2">
        <q-select
          filled
          transition-show="flip-up"
          transition-hide="flip-down"
          clearable
          v-model="data.bankAccount.type"
          :options="bankOpt.accountType"
          label="Tipo*"
          @blur="$v.data.bankAccount.type.$touch"
          @keyup.enter="submit"
          :error="$v.data.bankAccount.type.$error"
          :error-message="requiredField($v.data.bankAccount.type)"
        />
      </div>
    </div>
    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
import { required, numeric, decimal } from 'vuelidate/lib/validators'
import { mask } from 'vue-the-mask'

export default {
  name: 'bankAccountData',
  data () {
    return {

    }
  },
  validations: {
    data: {
      bankAccount: {
        bankNumber: { required },
        accountNumber: { required },
        bankBranchNumber: { required },
        variation: { numeric },
        isJuristic: { required },
        type: { required }
      }
    },
    bankSlipFee: {
      amount: { required, decimal }
    }
  },
  directives: {
    mask
  },

  methods: {
    onlyNumbersAndRequired (input) {
      if (!input.required) return 'Campo requerido'
      if (!input.numeric) return 'Este campo só aceita números'
    },
    requiredField (input) {
      if (!input.required) return 'Campo requerido'
    },
    onlyNumber (input) {
      if (!input.numeric) return 'Este campo só aceita números'
    }
  },

  props: ['data', 'options', 'bankOpt', 'bankSlipFee']
}
</script>

<style>
</style>
