<template>
  <div id="companyData">
    <q-separator
      inset
      color="transparent"
    />
    <div class="row">
      <div class="col-5">
        <q-input
          name="tradeName"
          v-model="data.holder.company.tradeName"
          color="primary"
          label="Nome Comercial*"
          filled
          clearable
          @blur="$v.data.holder.company.tradeName.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.company.tradeName.$error"
          :error-message="requiredField($v.data.holder.company.tradeName)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-6">
        <q-input
          name="fullName"
          v-model="data.holder.company.fullName"
          color="primary"
          label="Razão social*"
          filled
          clearable
          @blur="$v.data.holder.company.fullName.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.company.fullName.$error"
          :error-message="requiredField($v.data.holder.company.fullName)"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <q-input
          name="taxDocument"
          v-model="data.holder.company.taxDocument"
          color="primary"
          label="CNPJ*"
          filled
          clearable
          mask="##.###.###/####-##"
          @blur="$v.data.holder.company.taxDocument.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.company.taxDocument.$error"
          :error-message="taxDocumentValidation($v.data.holder.company.taxDocument)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-5">
        <q-select
          filled
          v-model="data.holder.company.businessTypeId"
          :options="business.businessTypes"
          :option-value="opt => opt.id"
          :option-label="opt => opt.name"
          emit-value
          map-options
          label="Tipo de Empresa*"
          @blur="$v.data.holder.company.businessTypeId.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.company.businessTypeId.$error"
          :error-message="requiredField($v.data.holder.company.businessTypeId)"
        />
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col">
        <q-select
          filled
          transition-show="flip-up"
          transition-hide="flip-down"
          clearable
          v-model="data.businessActivityId"
          :options="business.businessActivities"
          :option-value="opt => opt.id"
          :option-label="opt => opt.name"
          emit-value
          map-options
          label="Ramo de atividade*"
          @blur="$v.data.businessActivityId.$touch"
          @keyup.enter="submit"
          :error="$v.data.businessActivityId.$error"
          :error-message="requiredField($v.data.businessActivityId)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-3">
        <q-input
          name="zipCode"
          v-model="data.address.zipCode"
          color="primary"
          label="CEP"
          filled
          clearable
          mask="#####-###"
          @blur="$v.data.address.zipCode.$touch"
          @keyup.enter="submit"
          @change="getCode()"
          :error="$v.data.address.zipCode.$error"
          :error-message="zipCodeValidation($v.data.address.zipCode)"
        />
      </div>
    </div>
    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
import { Api } from 'src/services/AccountApi'
import { required, minLength, helpers } from 'vuelidate/lib/validators'
const cnpj = helpers.regex('alpha', /^[0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2}$/)

export default {
  name: 'companyData',
  validations: {
    data: {
      holder: {
        company: {
          tradeName: { required },
          fullName: { required },
          taxDocument: { required, cnpj },
          businessTypeId: { required }
        }
      },
      businessActivityId: { required },
      address: {
        zipCode: { required, minLength: minLength(9) }
      }
    }
  },
  methods: {
    taxDocumentValidation (input) {
      if (!input.required) return 'Campo requerido'
      if (!input.minLength) return 'CNPJ inválido'
    },
    zipCodeValidation (input) {
      if (!input.required) return 'Campo requerido'
      if (!input.minLength) return 'CEP inválido'
    },
    requiredField (input) {
      if (!input.required) return 'Campo requerido'
    },
    async getCode () {
      const api = new Api()
      const result = await api.holders.getCityCode(this.data.address.zipCode)
      if (result.status === 200) {
        this.data.address.cityCode = result.data.ibge
        this.data.address.district = result.data.bairro
        this.data.address.line1 = result.data.logradouro
      }
    }
  },
  props: ['data', 'business']
}
</script>

<style>
</style>
