<template>
  <q-layout>
    <q-page-container>
      <q-page>
        <div class="card-align">
          <q-card
            floated
            bordered
            class="my-card"
          >
            <q-card-section>
              <div class="text-h6 text-primary">Cadastrar Representante</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-form @submit.prevent="onSubmit">

                <q-separator />
                <q-card-section class="column items-start">
                  <strong class="sub-title text-primary"> Dados do representante </strong>
                </q-card-section>

                <q-separator color="transparent" />
                <PersonData :data="data" />
                <PersonContact :data="data" />

                <q-separator />
                <q-card-section class="column items-start">
                  <strong class="sub-title text-primary"> Dados da Empresa </strong>
                </q-card-section>

                <q-separator color="transparent" />
                <CompanyData
                  :data="data"
                  :business="business"
                />
                <q-separator color="transparent" />
                <AddressData :data="data" />

                <q-separator />
                <q-card-section class="column items-start">
                  <strong class="sub-title text-primary"> Plano de recebimento de cartão </strong>
                </q-card-section>

                <q-separator color="transparent" />
                <TransferPlanData :data="data" />

                <q-separator />
                <q-card-section class="column items-start">
                  <strong class="sub-title text-primary"> Dados Bancários </strong>
                </q-card-section>

                <q-separator color="transparent" />
                <BankAccountData
                  :data="data"
                  :options="options"
                  :bankOpt="bankOpt"
                  :bankSlipFee="bankSlipFee"
                />

                <q-separator color="transparent" />
                <div>
                  <q-btn
                    @click.prevent="onSubmit"
                    label="Cadastrar"
                    type="submit"
                    color="primary"
                  />
                  <q-btn
                    @click.prevent="onReset"
                    label="Cancelar"
                    type="cancel"
                    color="negative"
                    class="q-ml-sm"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import PersonData from 'pages/registers/PersonData'
import CompanyData from 'pages/registers/CompanyData'
import PersonContact from 'pages/registers/PersonContact'
import AddressData from 'pages/registers/AddressData'
import BankAccountData from 'pages/registers/BankAccountData'
import TransferPlanData from 'pages/registers/TransferPlanData'
import { Api } from 'src/services/AccountApi'
import { PaymentApi } from 'src/services/PaymentApi'
import { Notify, date } from 'quasar'

Notify.create('Bem vindo à tela de cadastro de Representantes')

export default {
  components: {
    PersonData,
    CompanyData,
    PersonContact,
    AddressData,
    BankAccountData,
    TransferPlanData
  },
  data () {
    return {
      data: {
        holder: {
          fullName: '',
          birthDate: '',
          gender: '',
          taxDocument: '',
          phone: '',
          mobile: '',
          company: {
            tradeName: '',
            fullName: '',
            taxDocument: '',
            businessTypeId: ''
          },
          contact: {
            address: '',
            mobile: '',
            phone: '',
            phoneExtension: null,
            email: '',
            site: ''
          }
        },
        address: {
          cityCode: '',
          district: '',
          line1: '',
          line2: '',
          streetNumber: '',
          zipCode: ''
        },
        bankAccount: {
          isJuristic: '',
          bankNumber: '',
          accountNumber: '',
          bankBranchNumber: '',
          variation: null,
          type: ''
        },
        user: {
          email: '',
          password: ''
        },
        businessActivityId: 'N9',
        marketingMediaId: 'dZ',
        transferPlan: {
          days: '',
          anticipated: false,
          daysOnlineSplit: ''
        },
        commercialName: '',
        appUrl: ''
      },
      bankSlipFee: {
        holderId: '',
        amount: ''
      },
      options: {
        banks: [
          {
            number: '',
            name: ''
          }
        ]
      },
      bankOpt: {
        contractType: [
          {
            id: false,
            desc: 'Física'
          },
          {
            id: true,
            desc: 'Jurídica'
          }
        ],
        accountType: [
          'Corrente', 'Poupança'
        ]
      },
      business: {
        businessActivities: [
          {
            id: 'N9',
            name: 'Administração de Condomínios'
          }
        ],
        businessTypes: [
          {
            id: '',
            name: '',
            acronym: ''
          }
        ]
      },

      form: {
        email: ''
      }
    }
  },

  validations: {
    form: {
      email: { required, email }
    }
  },

  async mounted () {
    await this.listBanks()
    await this.listBusinessActivities()
    await this.listBusinessTypes()
  },

  methods: {
    async onSubmit (evt) {
      const api = new Api()
      const fee = new PaymentApi()

      var birth = date.extractDate(this.data.holder.birthDate, 'DD/MM/YYYY')
      this.data.holder.birthDate = birth

      this.data.holder.mobile = this.data.holder.contact.mobile
      this.data.commercialName = this.data.holder.company.tradeName

      api.holders.create(this.data)
        .then(result => {
          this.triggerPositive()
          this.bankSlipFee.holderId = result.data.holder.id

          var fees = []
          fees.push(this.bankSlipFee)

          fee.bankSlipFee.create(fees)
            .then(result => {
              this.$router.push('/search')
              this.triggerPositiveFee()
            }).catch(() => {
              this.triggerNegativeFee()
            }).finally(() => {
            })
        }).catch((callback) => {
          if (callback.error) {
            this.triggerNegative(callback.error)
            return
          }
          this.triggerNegative()
        }).finally(() => {
        }).catch((callback) => {
          this.triggerNegative()
        })
    },
    onReset () {
      this.$router.push('/search')
    },
    triggerPositive () {
      this.$q.notify({
        type: 'positive',
        message: 'Representante cadastrado com Sucesso.'
      })
    },

    triggerNegative (msg = 'Houve uma falha ao cadastrar o Representante') {
      this.$q.notify({
        type: 'negative',
        message: msg
      })
    },
    triggerPositiveFee () {
      this.$q.notify({
        type: 'positive',
        message: 'Taxa cadastrada com Sucesso.'
      })
    },

    triggerNegativeFee () {
      this.$q.notify({
        type: 'negative',
        message: 'Houve uma falha ao cadastrar a Taxa'
      })
    },
    async listBanks () {
      const api = new Api()
      const result = await api.holders.getBanks()

      if (result.status === 200) {
        this.options = result.data
      }
    },
    async listBusinessActivities () {
      const api = new Api()
      const result = await api.holders.getBusinessActivities()

      if (result.status === 200) {
        this.business.businessActivities = result.data.businessActivities
      }
    },
    async listBusinessTypes () {
      const api = new Api()
      const result = await api.holders.getBusinessTypes()

      if (result.status === 200) {
        this.business.businessTypes = result.data.businessTypes
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 900px
  color: #000000;

.card-align
  text-align: -webkit-center
  padding: 50px

.sub-title
  font-size: 16px
</style>
