<template>
  <div id="personContact">
    <q-separator
      inset
      color="transparent"
    />
    <div class="col">
      <q-input
        name="address"
        v-model="data.holder.contact.address"
        color="primary"
        label="Endereço"
        filled
        clearable
      />
    </div>

    <q-separator
      inset
      color="transparent"
      class="space"
    />

    <div class="row">
      <div class="col">
        <q-input
          name="mobile"
          v-model="data.holder.contact.mobile"
          color="primary"
          label="Celular*"
          filled
          clearable
          mask="(##) #####-####"
          @blur="$v.data.holder.contact.mobile.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.contact.mobile.$error"
          :error-message="mobileValidation($v.data.holder.contact.mobile)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-input
          name="phone"
          v-model="data.holder.contact.phone"
          color="primary"
          label="Telefone"
          filled
          clearable
          mask="(##) ####-####"
          @blur="$v.data.holder.contact.phone.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.contact.phone.$error"
          :error-message="phoneValidation($v.data.holder.contact.phone)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col-2">
        <q-input
          name="phoneExtension"
          v-model="data.holder.contact.phoneExtension"
          color="primary"
          label="Ramal"
          filled
          clearable
          mask="####"
          @blur="$v.data.holder.contact.phoneExtension.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.contact.phoneExtension.$error"
          :error-message="phoneExtensionValidation($v.data.holder.contact.phoneExtension)"
        />
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col">
        <q-input
          name="email"
          v-model="data.holder.contact.email"
          color="primary"
          label="Email"
          filled
          clearable
          @blur="$v.data.holder.contact.email.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.contact.email.$error"
          :error-message="getErrorEmail($v.data.holder.contact.email)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-input
          name="CPF"
          v-model="data.holder.taxDocument"
          color="primary"
          label="CPF*"
          filled
          clearable
          mask="###.###.###-##"
          @blur="$v.data.holder.taxDocument.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.taxDocument.$error"
          :error-message="taxDocumentValidation($v.data.holder.taxDocument)"
        />
      </div>
    </div>
    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
import { email, required, minLength, helpers } from 'vuelidate/lib/validators'
const cpf = helpers.regex('alpha', /^(\d{3}.\d{3}.\d{3}-\d{2})$/)
const telephone = helpers.regex('alpha', /(\(?\d{2}\)?)\s?(\d{4})-(\d{4})/)
const mobileValid = helpers.regex('alpha', /(\(?\d{2}\)?)\s?(\d{5})-(\d{4})/)

export default {
  name: 'personContact',
  validations: {
    data: {
      holder: {
        contact: {
          email: { email },
          mobile: { required, mobileValid },
          phone: { telephone },
          phoneExtension: { minLength: minLength(4) }
        },
        taxDocument: { required, cpf }
      }
    }
  },
  methods: {
    getErrorEmail (input) {
      if (!input.email) return 'email inválido.'
    },
    taxDocumentValidation (input) {
      if (!input.required) return 'Campo requerido'
      if (!input.minLength) return 'CPF inválido'
    },
    mobileValidation (input) {
      if (!input.required) return 'Campo requerido'
      if (!input.mobileValid) return 'Celular inválido'
    },
    phoneValidation (input) {
      if (!input.telephone) return 'Telefone inválido'
    },
    phoneExtensionValidation (input) {
      if (!input.minLength) return 'Ramal inválido'
    }
  },
  props: ['data']
}
</script>

<style lang="sass" scoped>
.space
  text-align: -webkit-center
  padding: 10px
</style>
