<template>
  <div id="personData">
    <q-separator
      inset
      color="transparent"
    />
    <div class="row">
      <div class="col ">
        <q-input
          name="fullName"
          v-model="data.holder.fullName"
          color="primary"
          label="Nome*"
          filled
          clearable
          @blur="$v.data.holder.fullName.$touch"
          @keyup.enter="submit"
          :error="$v.data.holder.fullName.$error"
          :error-message="onlyLetters($v.data.holder.fullName)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div
        class="col-3"
        style="max-width: 300px"
      >
        <q-input
          readonly
          filled
          v-model="data.holder.birthDate"
          :rules="[val => !!val || 'Campo requerido']"
          clearable
          label="Data de Nascimento*"
          type="datetime"
        >
          <template v-slot:append>
            <q-icon
              name="event"
              class="cursor-pointer"
            >
              <q-popup-proxy
                ref="qDateProxy"
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date
                  v-model="data.holder.birthDate"
                  @input="() => $refs.qDateProxy.hide()"
                  mask="DD/MM/YYYY"
                />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
    </div>

    <div class="row">
      Sexo*:
    </div>
    <div class="row">
      <div>
        <q-radio
          keep-color
          v-model="data.holder.gender"
          val="M"
          label="Masculino"
          color="blue"
        />
        <q-radio
          keep-color
          v-model="data.holder.gender"
          val="F"
          label="Feminino"
          color="pink"
        />
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />

    <div class="row">
      <div class="col-7">
        <q-input
          name="email"
          v-model="data.user.email"
          color="primary"
          label="Login*"
          filled
          clearable
          @blur="$v.data.user.email.$touch"
          @keyup.enter="submit"
          :error="$v.data.user.email.$error"
          :error-message="getErrorEmail($v.data.user.email)"
        />
      </div>

      <q-separator
        inset
        color="transparent"
      />

      <div class="col">
        <q-input
          name="password"
          v-model="data.user.password"
          color="primary"
          label="Senha*"
          type="password"
          filled
          clearable
          @blur="$v.data.user.password.$touch"
          @keyup.enter="submit"
          :error="$v.data.user.password.$error"
          :error-message="requiredField($v.data.user.password)"
        />
      </div>
    </div>

    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>
import { required, email, helpers } from 'vuelidate/lib/validators'
const alpha = helpers.regex('alpha', /^[a-zA-Z ]*$/)

export default {
  name: 'personData',
  props: ['data'],
  validations: {
    data: {
      holder: {
        fullName: { required, alpha }
      },
      user: {
        email: { required, email },
        password: { required }
      }
    }
  },

  methods: {
    getErrorEmail (input) {
      if (!input.required) return 'campo requerido.'
      return 'email inválido.'
    },
    onlyLetters (input) {
      if (!input.required) return 'Campo requerido'
      if (!input.alpha) return 'Este campo só aceita letras'
    },
    requiredField (input) {
      if (!input.required) return 'Campo requerido'
    }
  }
}
</script>

<style>
</style>
