<template>
  <div id="transferPlanData">
    <q-separator
      inset
      color="transparent"
    />
    <div class="row justify-between">
      <div class="col">
        <div>
          Plano de transferência:
          <q-radio
            keep-color
            v-model="data.transferPlan.days"
            val="2"
            label="2"
            color="blue"
            @input="data.transferPlan.anticipated = true"
          />
          <q-radio
            keep-color
            v-model="data.transferPlan.days"
            val="32"
            label="32"
            color="dark"
            @input="data.transferPlan.anticipated = false"
          />
        </div>
      </div>
      <div class="col-7">
        <q-toggle
          v-model="data.transferPlan.anticipated"
          size="lg"
          checked-icon="check"
          color="green"
          unchecked-icon="clear"
          label="Plano de antecipação"
          :rules="[val => !!val || 'Campo requerido']"
          v-if="data.transferPlan.days != 2"
        />
      </div>
    </div>
    <q-separator
      inset
      color="transparent"
    />
  </div>
</template>

<script>

export default {
  name: 'transferPlanData',
  props: ['data']
}
</script>

<style>
</style>
